html {
    height: 100%;
}

body {
    background:#000 url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.zone{
    margin-top: 20px;
}

label{
    color: #fff;
}

.thermometer-outer {
    background-color: #c4f0ff;
    border: 5px solid #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 400px;
    width: 50px;
    margin: 0 auto;
}

.thermometer-inner {
    background: #3f83f7;
    width: 40px;
}

#gloss{
    background-color: rgba(255,255,255,0.25);
    width: 15px;
    height: 410px;
    margin: 0 auto;
    position: absolute;
    margin-left: 50%;
    z-index: 1;
    left: -17px;
}

#grad{
    background-image: url('../images/line.png');
    background-size: contain;
    background-repeat: repeat-y;
    width: 25px;
    height: 410px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    z-index: 1;
}

#boule{
    width: 70px;
    height: 70px;
    background: #3f83f7;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top:-11px;
    z-index: 2;
}

#boule-out{
    width: 80px;
    height: 80px;
    background: #3f83f7;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top:-86px;
    border: 5px solid #fff;
    z-index: -1;
}

.alert{
/*    display: inline-block;*/
    font-weight: bolder;
    text-align: center;
}

.montant{
    font-size: 45px;
}

.objectif{
    font-size: 25px;
}

.milestone-count{
    display: inline
}