.container{
    width: 100%;
    text-align: center;
}

.thermometer-outer {
    background-color: #c4f0ff;
    background-image: url('../images/line.png');
    background-size: contain;
    background-repeat: repeat-y;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    height: 400px;
    width: 40px;
    margin: 0 auto;
}

.thermometer-inner {
    background: #3f83f7;
    width: 40px;
}

#boule{
    width: 80px;
    height: 80px;
    background: #3f83f7;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top:-12px;
}